*{
    margin: 0;
    padding: 0;
}

.education_head{
    margin-bottom: 30px;
    text-align: center;
}

.education_head h2{
    position: relative;
    font-size: 25px;
    font-weight: 400;
    color: #363727;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.education_head h2::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 80%;
    left: 8%;
    bottom: -8px;
    background-color:   #c1c1c1   ;
}

.education_content{
    text-align: center;
    position: relative;
    /* background-color:  #D7D6DA ; */
    transition: .5s all;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.71);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.71);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.71);


}
/* .education_content:hover{

} */
.education_inner_content{
    position: relative;
}
.school,.college,.varsity{
    position: absolute;
    height: 120px;
    width: 120px;
    line-height: 120px;
    border: 1px solid  #D7D6DA;
    color: whitesmoke ;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0px 2px 7px rgba(149, 150, 150, 1);
    border-radius: 50%;
    background-color:  #85B1E5;
    font-size: 30px;
    -webkit-box-shadow: -1px 2px 19px -4px rgba(0,0,0,0.09);
    -moz-box-shadow: -1px 2px 19px -4px rgba(0,0,0,0.09);
    box-shadow: -1px 2px 19px -4px rgba(0,0,0,0.09);
}

.varsity_content{
    margin-top: 80px;
}
.content{
    padding-top: 75px;
}

.content h4{
    color: #484848;
    font-size: 20px;
    text-transform: uppercase;
}

.content h3{
    color:  #484848 ;
    font-size: 25px;
    text-transform: uppercase;

    /* text-shadow: 0px 2px 1px rgba(149, 150, 150, 1); */
}


.content p{
    text-align: justify !important;
    padding: 0px 20px 20px;
    font-size: 14px;
    color: #484848;
}





@media(max-width:575px){
 
.school, .college, .varsity {
    height: 90px;
    width: 90px;
    line-height: 90px;
    top: 1px;

}
.content {
    margin-top: 43px;
}
}


